/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /* Style the close button */
  .close {
    /* position: absolute; */
    /* right: 0;
    top: 0; */
    float: right;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .edit {
    /* position: absolute; */
    right: 50px;
    float: right;
    /* top: 0;
    bottom : 0; */
    padding: 12px 16px 12px 16px;
  }
  
  .edit:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: grey;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

input#myInputName,
input#myInputColor
 {
	margin: 0;
	border: none;
	border-radius: 0;
	width: 37.5%;
	padding: 10px;
	float: left;
	font-size: 16px;
}
  
  /* Style the "Add" button */
.addBtn {
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0;
}

.addBtn:hover {
	background-color: #bbb;
}

/* Edit Task */
ul li input[type=text] {
	display:none;
}

ul li input.multi[type=text] {
	width: 37.5%;
	display:none;
}

ul li.editMode input[type=text] {
	display:block;
	position: absolute;
	top: 4px;
}

ul li.editMode-multi input[type=text] {
	display:block;
	margin-top: -8px;
	top: 4px;
}

ul li.editMode label,
ul li.editMode-multi label,
ul li.editMode-multi b {
	display:none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
